.transaction-form {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  .full-width {
    width: 100%;
  }

  .form-row {
    display: flex;
    gap: 16px;
    
    mat-form-field {
      flex: 1;
    }
  }
}